<?xml version="1.0"?>
<Configuration>
    <Application Name="NORISKSITE">
        <servers hostclient_default="bbaweb*">
            <server hostclient="bbaweb*"            hostcomponent="bbamtslb"/>
            <server hostclient="bbawebn1ats*"       hostcomponent="bbamtslb-ats-s"/>
            <server hostclient="bbawebn1ats1m"      hostcomponent="bbamtslb-ats-m"/>
            <server hostclient="itaubba"            hostcomponent="bbamtslb"/>
            <server hostclient="itaubba-ats-s"      hostcomponent="bbamtslb-ats-s"/>
            <server hostclient="itaubba-ats-m"      hostcomponent="bbamtslb-ats-m"/>
            <server hostclient="bbags2webd1"        hostcomponent="bbags2mtsd1"/>
            <server hostclient="mv*"                hostcomponent="localhost:33000"/>            
        </servers>
        
        <endpoints>
            <endpoint name="CustomBinding_ISearch">
                <hostclient name="*" address="http://{hostcomponent}/norisksite/Search.svc" />
            </endpoint>
            <endpoint name="CustomBinding_IGrupo">
                <hostclient name="*" address="http://{hostcomponent}/norisksite/Grupo.svc" />
            </endpoint>
            <endpoint name="CustomBinding_ISubLimite">
                <hostclient name="*" address="http://{hostcomponent}/norisksite/SubLimite.svc" />
            </endpoint>
            <endpoint name="CustomBinding_IOperacao">
               <hostclient name="*" address="http://{hostcomponent}/norisksite/Operacao.svc" /> 
            </endpoint>            
            <endpoint name="CustomBinding_IMail">
                <hostclient name="*" address="http://{hostcomponent}/norisksite/Mail.svc" />
            </endpoint>            
            <endpoint name="CustomBinding_ISiteRisco">
                <hostclient name="*" address="http://{hostcomponent}/norisksite/SiteRisco.svc" />
            </endpoint>
            <endpoint name="Tutorial">
                <hostclient name="*" address="http://{hostcomponent}/norisksite/tutorial/NoRiskSite-Tutorial.html" />
                <hostclient name="MV*" address="http://localhost:35000/tutorial/NoRiskSite-Tutorial.html" />
            </endpoint>
            <endpoint name="ServiceLMaxSoap">
                <hostclient name="*" address="http://{hostcomponent}/norisk/lmax/ServiceLMax.asmx" />
                <hostclient name="MV*" address="http://bbags2mtsd1/norisk/lmax/ServiceLMax.asmx" />
            </endpoint>
            <endpoint name="GMIImageSource">
                <hostclient name="*" address="http://{hostcomponent}/norisksite/images/" />
            </endpoint>
            <endpoint name="GMIMail">
                <hostclient name="itaubba" address="IBBA-SitedoRisco@bba.com.br" />
                <hostclient name="*" address="hemsantos@corp.bba.com.br" />
            </endpoint>
            <endpoint name="RelatorioTomado">
                <hostclient name="*" address="http://{hostclient}/norisksite/Reports/Report.aspx" />
                <hostclient name="MV*" address="http://localhost:34000/Reports/Report.aspx" />                
            </endpoint>
            <endpoint name="CustomBinding_IServiceMarcacaoDefault">
                <hostclient name="*" address="http://{hostcomponent}/defcon/ServiceMarcacaoDefault.sv" />
                <hostclient name="MV*" address="http://bbags2mtsd1/defcon/ServiceMarcacaoDefault.svc" />
            </endpoint>
            
        </endpoints>
    </Application>                 
</Configuration>
